<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../navbar') %>
    <%- include("../error.ejs") %>

    <h2><%= platformId ? 'Edit Platform' : 'Add New Platform' %></h2>
    <form action="<%= platformId ? '/platform/edit/' + platformId : '/platform/create' %>" method="POST">
        <input type="text" name="name" placeholder="Platform Name" value="<%= formData ? formData.platform_name : '' %>" required>
        <button type="submit"><%= platformId ? 'Update Platform' : 'Add Platform' %></button>
    </form>

    <h1>All Platforms</h1>
    <div>
        <ul>
            <% platforms.forEach(platform => { %>
                <li><a href="/platforms"><%= platform.platform_name %></a></li>
                <a href="/platform/edit/<%= platform.platform_id %>"><button>Edit</button></a>
                <form action="/platform/delete/<%= platform.platform_id %>" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Delete this platform?');">Delete</button>
                </form>
            <% }) %>
        </ul>
    </div>

</body>
</html>
