<!DOCTYPE html>
<html>
<head>
  <title><%= formData ? 'Edit' : 'Add' %> Developer</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form-container">
    <h1><%= formData ? 'Edit' : 'Add' %> Developer</h1>
  <form action="<%= developerId ? '/developer/edit/' + developerId : '/developer/create' %>" method="POST">

    <label>Name:
      <input type="text" name="name" value="<%= formData ? formData.name : '' %>" required />
    </label><br/>

    <label>Country:
      <input type="text" name="country" value="<%= formData ? formData.country : '' %>" />
    </label><br/>

    <label>Description:
      <textarea name="description"><%= formData ? formData.description : '' %></textarea>
    </label><br/>

    <label>Logo URL:
      <input type="text" name="logo_url" value="<%= formData ? formData.logo_url : '' %>" />
    </label><br/>

    <button type="submit"><%= formData ? 'Update' : 'Create' %> Developer</button>
  </form>

  <a href="/developers"><button class="btn">Back to list</button></a>
  </div>
</body>
</html>
